fastapi
uvicorn
python-multipart
requests
qdrant-client
llama-index-core
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-readers-file
pydantic